.active-container-wrapper {
  margin: 20px auto;
  padding: 0;  
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .active-container-wrapper {
    padding: 20px;
  }
}