.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px;
}

.logo-container {
  padding-left: 20px;
}

.navbar-container {
  display: none;
}

.user-options-container {
  display: none;
}

.m-wrapper {
  display: block;
}

@media screen and (min-width: 992px) {
  .header {
    justify-content: unset;
  }

  .logo-container {
    padding-left: 30px;
    width: 20%;
  }

  .user-options-container {
    padding-right: 30px;
    width: 20%;
    padding-top: 5px;
  }

  .navbar-container {
    width: 60%;
    padding-top: 5px;
  }

  .m-wrapper {
    display: none;
  }
}