.header {
  display: flex;
  box-shadow: 0 0 10px;
}

.logo-container {
  padding-left: 20px;
}

.navbar-container {
  width: 60%;
  padding-top: 5px;
}

.user-options-container {
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .logo-container {
    padding-left: 30px;
    width: 20%;
  }

  .user-options-container {
    padding-right: 30px;
    width: 20%;
  }
}