* {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s linear;
}

.text-center {
  text-align: center;
}

.link-text {
  text-decoration: none;
  color: #008080;
}

.btn {
  background: transparent;
  border: 0;
  box-shadow: 0 0 2px 1px #ddd;
  font-size: 16px;
  padding: 5px;
}

.btn:hover,
  .btn:focus {
  background: #195e5e;
  font-weight: bold;
  color: #ddd;
}

.mb-0 {
  margin-bottom: 0;
}

.form-group {
  margin: 20px 0;
}

.field-label {
  font-weight: bold;
  display: inline-block;
  margin: 5px 0;
}

.form-field {
  padding: 5px;
}

.text-field {
  border: 0;
  border-bottom: 1px solid;
  width: 100%;
}

.text-field:focus, .text-field:focus-visible {
  border: 0;
  outline: none;
  border-bottom: 1px solid ;
}